<div class="search-header">
  <label>Pet Management 3000</label>
  <div>
    <label>Dog Name: </label>
    <input [(ngModel)]="newPet">
    <button (click)="addNewPet()">Add Pet</button>
  </div>
</div>
<div class="main-container">

  <div>
    <h2>Listed</h2>
    <ul>
      <li *ngFor="let listedPet of getListedPets()">
        {{listedPet.name}}
        <button (click)="changePetStatus(listedPet, 1)">Next</button>
      </li>
    </ul>
  </div>


  <div>
    <h2>Examining</h2>
    <ul>
      <li *ngFor="let examiningPet of getExaminingPets()">
        {{examiningPet.name}}
        <button (click)="changePetStatus(examiningPet, 2)">Next</button>
      </li>
    </ul>
  </div>


  <div>
    <h2>Finaly Back to Hooman</h2>
    <ul>
      <li *ngFor="let finishedPet of getFinishedPets()">
        {{finishedPet.name}}
      </li>
    </ul>
  </div>

</div>